=== DATABASE: walkon_shoes_v2 ===

Total Tables: 45

--- TABLE: api_credentials ---
CREATE TABLE `api_credentials` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seller_id` int(11) DEFAULT NULL,
  `channel` varchar(50) DEFAULT NULL,
  `api_key` text DEFAULT NULL,
  `api_secret` text DEFAULT NULL,
  `access_token` text DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `expires_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 3
INSERT INTO `api_credentials` (`id`, `seller_id`, `channel`, `api_key`, `api_secret`, `access_token`, `is_active`, `expires_at`) VALUES ('1', '1', 'amazon', NULL, NULL, NULL, '1', NULL);
INSERT INTO `api_credentials` (`id`, `seller_id`, `channel`, `api_key`, `api_secret`, `access_token`, `is_active`, `expires_at`) VALUES ('2', '1', 'shopify', NULL, NULL, NULL, '1', NULL);
INSERT INTO `api_credentials` (`id`, `seller_id`, `channel`, `api_key`, `api_secret`, `access_token`, `is_active`, `expires_at`) VALUES ('3', '1', 'ebay', NULL, NULL, NULL, '1', NULL);

--- TABLE: brand_approvals ---
CREATE TABLE `brand_approvals` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `brand_id` int(11) NOT NULL,
  `seller_id` int(11) NOT NULL,
  `certificate_url` varchar(500) DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `admin_feedback` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `brand_id` (`brand_id`),
  KEY `seller_id` (`seller_id`),
  CONSTRAINT `brand_approvals_ibfk_1` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`id`) ON DELETE CASCADE,
  CONSTRAINT `brand_approvals_ibfk_2` FOREIGN KEY (`seller_id`) REFERENCES `sellers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 0

--- TABLE: brands ---
CREATE TABLE `brands` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `logo_url` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `is_verified` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 26
INSERT INTO `brands` (`id`, `name`, `logo_url`, `created_at`, `is_verified`) VALUES ('1', 'Nike', 'https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg', '2026-02-03 23:34:33', '1');
INSERT INTO `brands` (`id`, `name`, `logo_url`, `created_at`, `is_verified`) VALUES ('2', 'Adidas', 'https://upload.wikimedia.org/wikipedia/commons/2/20/Adidas_Logo.svg', '2026-02-03 23:34:33', '1');
INSERT INTO `brands` (`id`, `name`, `logo_url`, `created_at`, `is_verified`) VALUES ('3', 'Puma', 'https://upload.wikimedia.org/wikipedia/commons/8/88/Puma_Logo.svg', '2026-02-03 23:34:33', '1');

--- TABLE: bulk_operations_log ---
CREATE TABLE `bulk_operations_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seller_id` int(11) NOT NULL,
  `action_type` varchar(50) NOT NULL,
  `affected_count` int(11) DEFAULT 0,
  `action_value` varchar(255) DEFAULT NULL,
  `details` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `seller_id` (`seller_id`),
  CONSTRAINT `bulk_operations_log_ibfk_1` FOREIGN KEY (`seller_id`) REFERENCES `sellers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 0

--- TABLE: cart ---
CREATE TABLE `cart` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `quantity` int(11) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_cart_item` (`user_id`,`product_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 8
INSERT INTO `cart` (`id`, `user_id`, `product_id`, `quantity`, `created_at`, `updated_at`) VALUES ('1', '34', '95', '1', '2026-02-19 16:11:27', '2026-02-19 16:12:19');
INSERT INTO `cart` (`id`, `user_id`, `product_id`, `quantity`, `created_at`, `updated_at`) VALUES ('2', '34', '94', '1', '2026-02-19 16:11:32', '2026-02-19 16:12:14');
INSERT INTO `cart` (`id`, `user_id`, `product_id`, `quantity`, `created_at`, `updated_at`) VALUES ('3', '16', '95', '2', '2026-02-20 10:31:13', '2026-02-20 10:31:14');

--- TABLE: categories ---
CREATE TABLE `categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `image_url` varchar(500) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 7
INSERT INTO `categories` (`id`, `name`, `image_url`, `description`, `created_at`) VALUES ('1', 'Sneakers', 'https://images.unsplash.com/photo-1552346154-21d32810aba3', 'Premium lifestyle sneakers and streetwear.', '2026-02-03 23:34:33');
INSERT INTO `categories` (`id`, `name`, `image_url`, `description`, `created_at`) VALUES ('2', 'Boots', 'assets/boots_category.png', 'Durable and stylish boots for all terrains.', '2026-02-03 23:34:33');
INSERT INTO `categories` (`id`, `name`, `image_url`, `description`, `created_at`) VALUES ('4', 'Running Shoes', 'https://images.unsplash.com/photo-1542291026-7eec264c27ff', 'Lightweight tech for marathon and trail running.', '2026-02-03 23:34:33');

--- TABLE: channel_settings ---
CREATE TABLE `channel_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seller_id` int(11) NOT NULL,
  `marketplace_id` int(11) NOT NULL,
  `sync_frequency` varchar(20) DEFAULT 'daily',
  `price_margin` decimal(5,2) DEFAULT 0.00,
  `description_override` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_seller_marketplace` (`seller_id`,`marketplace_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 1
INSERT INTO `channel_settings` (`id`, `seller_id`, `marketplace_id`, `sync_frequency`, `price_margin`, `description_override`, `created_at`, `updated_at`) VALUES ('1', '8', '5', 'daily', '500.00', '', '2026-03-06 11:52:21', '2026-03-06 11:52:21');

--- TABLE: daily_sales_analytics ---
CREATE TABLE `daily_sales_analytics` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seller_id` int(11) NOT NULL,
  `recorded_date` date NOT NULL,
  `total_orders` int(11) DEFAULT 0,
  `total_revenue` decimal(10,2) DEFAULT 0.00,
  `units_sold` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_entry` (`seller_id`,`recorded_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 0

--- TABLE: disputes ---
CREATE TABLE `disputes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `seller_id` int(11) NOT NULL,
  `reason` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('open','under_review','resolved','rejected') DEFAULT 'open',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `order_id` (`order_id`),
  KEY `customer_id` (`customer_id`),
  KEY `seller_id` (`seller_id`),
  CONSTRAINT `disputes_ibfk_1` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `disputes_ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `disputes_ibfk_3` FOREIGN KEY (`seller_id`) REFERENCES `sellers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 0

--- TABLE: help_pages ---
CREATE TABLE `help_pages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `icon_class` varchar(50) NOT NULL,
  `summary` text DEFAULT NULL,
  `content` longtext DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 6

--- TABLE: marketplaces ---
CREATE TABLE `marketplaces` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `category` varchar(50) DEFAULT 'Marketplace',
  `logo_url` varchar(500) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `website_url` varchar(500) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `display_order` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 6
INSERT INTO `marketplaces` (`id`, `name`, `category`, `logo_url`, `description`, `website_url`, `is_active`, `display_order`, `created_at`) VALUES ('1', 'Amazon', 'E-commerce', 'https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg', 'Global leader in e-commerce.', 'https://amazon.com', '1', '1', '2026-02-03 23:34:33');
INSERT INTO `marketplaces` (`id`, `name`, `category`, `logo_url`, `description`, `website_url`, `is_active`, `display_order`, `created_at`) VALUES ('2', 'Flipkart', 'E-commerce', 'https://upload.wikimedia.org/wikipedia/en/7/7a/Flipkart_logo.svg', 'Indias leading marketplace.', 'https://flipkart.com', '1', '2', '2026-02-03 23:34:33');
INSERT INTO `marketplaces` (`id`, `name`, `category`, `logo_url`, `description`, `website_url`, `is_active`, `display_order`, `created_at`) VALUES ('3', 'eBay', 'E-commerce', 'https://upload.wikimedia.org/wikipedia/commons/1/1b/EBay_logo.svg', 'Global auction and retail site.', 'https://ebay.com', '1', '3', '2026-02-03 23:34:33');

--- TABLE: materials ---
CREATE TABLE `materials` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 23
INSERT INTO `materials` (`id`, `name`) VALUES ('4', 'Canvas');
INSERT INTO `materials` (`id`, `name`) VALUES ('28', 'Denim');
INSERT INTO `materials` (`id`, `name`) VALUES ('22', 'Flyknit');

--- TABLE: order_notes ---
CREATE TABLE `order_notes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `note` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_order_id` (`order_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `order_notes_ibfk_1` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `order_notes_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 0

--- TABLE: orders ---
CREATE TABLE `orders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `seller_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `customer_name` varchar(100) DEFAULT NULL,
  `customer_email` varchar(100) DEFAULT NULL,
  `customer_phone` varchar(20) DEFAULT NULL,
  `shipping_address` text DEFAULT NULL,
  `quantity` int(11) NOT NULL,
  `size` varchar(20) DEFAULT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `total_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `channel` varchar(50) DEFAULT NULL,
  `status` enum('pending','processing','shipped','delivered','cancelled') DEFAULT 'pending',
  `payment_status` varchar(50) DEFAULT 'pending',
  `payment_link` varchar(500) DEFAULT NULL,
  `tracking_number` varchar(100) DEFAULT NULL,
  `courier_name` varchar(100) DEFAULT NULL,
  `order_date` datetime DEFAULT current_timestamp(),
  `shipped_date` datetime DEFAULT NULL,
  `delivered_date` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_seller` (`seller_id`),
  KEY `idx_product` (`product_id`),
  KEY `fk_order_user` (`user_id`),
  CONSTRAINT `fk_order_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 54
INSERT INTO `orders` (`id`, `user_id`, `seller_id`, `product_id`, `customer_name`, `customer_email`, `customer_phone`, `shipping_address`, `quantity`, `size`, `unit_price`, `total_price`, `channel`, `status`, `payment_status`, `payment_link`, `tracking_number`, `courier_name`, `order_date`, `shipped_date`, `delivered_date`, `created_at`, `updated_at`) VALUES ('1', '1', '1', '1', 'Demo Customer', NULL, NULL, NULL, '1', '9', '22000.00', '22000.00', 'Amazon', 'delivered', 'pending', NULL, NULL, NULL, '2026-01-19 23:34:33', NULL, NULL, '2026-02-03 23:34:33', '2026-02-18 14:57:59');
INSERT INTO `orders` (`id`, `user_id`, `seller_id`, `product_id`, `customer_name`, `customer_email`, `customer_phone`, `shipping_address`, `quantity`, `size`, `unit_price`, `total_price`, `channel`, `status`, `payment_status`, `payment_link`, `tracking_number`, `courier_name`, `order_date`, `shipped_date`, `delivered_date`, `created_at`, `updated_at`) VALUES ('2', '1', '1', '2', 'Demo Customer', NULL, NULL, NULL, '1', '9', '11000.00', '11000.00', 'Amazon', 'delivered', 'pending', NULL, NULL, NULL, '2026-01-11 23:34:33', NULL, NULL, '2026-02-03 23:34:33', '2026-02-18 14:57:59');
INSERT INTO `orders` (`id`, `user_id`, `seller_id`, `product_id`, `customer_name`, `customer_email`, `customer_phone`, `shipping_address`, `quantity`, `size`, `unit_price`, `total_price`, `channel`, `status`, `payment_status`, `payment_link`, `tracking_number`, `courier_name`, `order_date`, `shipped_date`, `delivered_date`, `created_at`, `updated_at`) VALUES ('3', '1', '1', '3', 'Demo Customer', NULL, NULL, NULL, '1', '9', '17999.00', '17999.00', 'Amazon', 'delivered', 'pending', NULL, NULL, NULL, '2026-01-29 23:34:33', NULL, NULL, '2026-02-03 23:34:33', '2026-02-18 14:57:59');

--- TABLE: payment_methods ---
CREATE TABLE `payment_methods` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `method_key` varchar(50) NOT NULL,
  `icon_class` varchar(50) NOT NULL,
  `title` varchar(100) NOT NULL,
  `description` text NOT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `display_order` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `method_key` (`method_key`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 6
INSERT INTO `payment_methods` (`id`, `method_key`, `icon_class`, `title`, `description`, `is_active`, `display_order`, `created_at`, `updated_at`) VALUES ('1', 'card', 'fa-credit-card', 'Credit & Debit Cards', 'Pay seamlessly using your Visa, Mastercard, or RuPay card. Supports saved cards for faster checkout.', '1', '1', '2026-02-10 10:59:20', '2026-02-10 10:59:20');
INSERT INTO `payment_methods` (`id`, `method_key`, `icon_class`, `title`, `description`, `is_active`, `display_order`, `created_at`, `updated_at`) VALUES ('2', 'wallet', 'fa-wallet', 'Digital Wallets', 'Instant payments via Paytm, PhonePe, Mobikwik, and more. Enjoy exclusive wallet-specific cashback.', '1', '2', '2026-02-10 10:59:20', '2026-02-10 10:59:20');
INSERT INTO `payment_methods` (`id`, `method_key`, `icon_class`, `title`, `description`, `is_active`, `display_order`, `created_at`, `updated_at`) VALUES ('3', 'netbanking', 'fa-university', 'Net Banking', 'Support for all major Indian banks including SBI, HDFC, ICICI, and Axis. Safe and reliable transfers.', '1', '3', '2026-02-10 10:59:20', '2026-02-10 10:59:20');

--- TABLE: platform_features ---
CREATE TABLE `platform_features` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `icon` varchar(50) DEFAULT NULL,
  `title` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 4
INSERT INTO `platform_features` (`id`, `icon`, `title`, `description`) VALUES ('1', 'fas fa-layer-group', 'Multi-Channel Sync', 'Instant inventory synchronization across 15+ global marketplaces.');
INSERT INTO `platform_features` (`id`, `icon`, `title`, `description`) VALUES ('2', 'fas fa-chart-line', 'Smart Analytics', 'Deep insights into your sales performance with AI-driven forecasting.');
INSERT INTO `platform_features` (`id`, `icon`, `title`, `description`) VALUES ('3', 'fas fa-bolt', 'Auto-Pricing', 'Stay competitive with real-time price matching algorithms.');

--- TABLE: product_authenticity ---
CREATE TABLE `product_authenticity` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `serial_number` varchar(100) NOT NULL,
  `batch_number` varchar(100) DEFAULT NULL,
  `qr_code_url` varchar(500) DEFAULT NULL,
  `status` enum('pending','verified','rejected') DEFAULT 'pending',
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `serial_number` (`serial_number`),
  KEY `product_id` (`product_id`),
  KEY `verified_by` (`verified_by`),
  CONSTRAINT `product_authenticity_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE,
  CONSTRAINT `product_authenticity_ibfk_2` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 0

--- TABLE: product_base ---
CREATE TABLE `product_base` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seller_id` int(11) NOT NULL,
  `category_id` int(11) DEFAULT NULL,
  `sub_category_id` int(11) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `status` enum('draft','published','scheduled') DEFAULT 'draft',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `approval_status` enum('pending','approved','rejected') DEFAULT 'pending',
  PRIMARY KEY (`id`),
  KEY `seller_id` (`seller_id`),
  KEY `category_id` (`category_id`),
  CONSTRAINT `product_base_ibfk_1` FOREIGN KEY (`seller_id`) REFERENCES `sellers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `product_base_ibfk_2` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=142 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 139
INSERT INTO `product_base` (`id`, `seller_id`, `category_id`, `sub_category_id`, `name`, `status`, `created_at`, `updated_at`, `approval_status`) VALUES ('1', '2', '1', NULL, 'Nike Air Max Pulse', 'published', '2026-02-03 23:34:33', '2026-02-18 11:41:34', 'approved');
INSERT INTO `product_base` (`id`, `seller_id`, `category_id`, `sub_category_id`, `name`, `status`, `created_at`, `updated_at`, `approval_status`) VALUES ('2', '2', '1', NULL, 'Adidas Yeezy Boost 350', 'published', '2026-02-03 23:34:33', '2026-02-18 11:41:34', 'approved');
INSERT INTO `product_base` (`id`, `seller_id`, `category_id`, `sub_category_id`, `name`, `status`, `created_at`, `updated_at`, `approval_status`) VALUES ('3', '2', '2', NULL, 'Timberland Premium 6-Inch', 'published', '2026-02-03 23:34:33', '2026-02-18 11:41:34', 'approved');

--- TABLE: product_channels ---
CREATE TABLE `product_channels` (
  `product_id` int(11) NOT NULL,
  `channel_name` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`product_id`,`channel_name`),
  CONSTRAINT `product_channels_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 132
INSERT INTO `product_channels` (`product_id`, `channel_name`, `created_at`) VALUES ('1', 'Amazon', '2026-02-03 23:34:33');
INSERT INTO `product_channels` (`product_id`, `channel_name`, `created_at`) VALUES ('1', 'Flipkart', '2026-02-03 23:34:33');
INSERT INTO `product_channels` (`product_id`, `channel_name`, `created_at`) VALUES ('1', 'Shopify', '2026-02-03 23:34:33');

--- TABLE: product_colors ---
CREATE TABLE `product_colors` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `color_name` varchar(50) NOT NULL,
  `color_hex` varchar(20) DEFAULT '#000000',
  `color_code` varchar(10) DEFAULT '#000000',
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `product_colors_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1813 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 973
-- (Data too large to dump inline, 973 rows)

--- TABLE: product_descriptions ---
CREATE TABLE `product_descriptions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `content` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `product_descriptions_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=117 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 115
INSERT INTO `product_descriptions` (`id`, `product_id`, `content`, `created_at`) VALUES ('1', '1', 'The Air Max Pulse combines street style with rugged performance.', '2026-02-03 23:34:33');
INSERT INTO `product_descriptions` (`id`, `product_id`, `content`, `created_at`) VALUES ('2', '2', 'The global icon of modern sneaker culture.', '2026-02-03 23:34:33');
INSERT INTO `product_descriptions` (`id`, `product_id`, `content`, `created_at`) VALUES ('3', '3', 'The original waterproof boot that started it all.', '2026-02-03 23:34:33');

--- TABLE: product_marketplaces ---
CREATE TABLE `product_marketplaces` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `marketplace_id` int(11) NOT NULL,
  `product_url` varchar(255) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  KEY `marketplace_id` (`marketplace_id`),
  CONSTRAINT `product_marketplaces_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE,
  CONSTRAINT `product_marketplaces_ibfk_2` FOREIGN KEY (`marketplace_id`) REFERENCES `marketplaces` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 0

--- TABLE: product_media ---
CREATE TABLE `product_media` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `url` varchar(500) NOT NULL,
  `type` enum('image','video') DEFAULT 'image',
  `is_primary` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `color` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `product_media_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=150 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 141
INSERT INTO `product_media` (`id`, `product_id`, `url`, `type`, `is_primary`, `created_at`, `color`) VALUES ('1', '1', 'uploads/products/product_1_698240d0e859c.jpg', 'image', '1', '2026-02-03 23:34:33', NULL);
INSERT INTO `product_media` (`id`, `product_id`, `url`, `type`, `is_primary`, `created_at`, `color`) VALUES ('2', '2', 'uploads/products/product_2_698240d3092ea.jpg', 'image', '1', '2026-02-03 23:34:33', NULL);
INSERT INTO `product_media` (`id`, `product_id`, `url`, `type`, `is_primary`, `created_at`, `color`) VALUES ('3', '3', 'https://images.unsplash.com/photo-1520639889313-72721e0ab9ef', 'image', '1', '2026-02-03 23:34:33', NULL);

--- TABLE: product_prices ---
CREATE TABLE `product_prices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `min_price` decimal(10,2) DEFAULT NULL,
  `max_price` decimal(10,2) DEFAULT NULL,
  `smart_pricing_status` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `product_prices_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=141 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 139
INSERT INTO `product_prices` (`id`, `product_id`, `price`, `min_price`, `max_price`, `smart_pricing_status`, `created_at`) VALUES ('1', '1', '14999.00', '12999.00', '17999.00', '1', '2026-02-03 23:34:33');
INSERT INTO `product_prices` (`id`, `product_id`, `price`, `min_price`, `max_price`, `smart_pricing_status`, `created_at`) VALUES ('2', '2', '22000.00', '20000.00', '25000.00', '1', '2026-02-03 23:34:33');
INSERT INTO `product_prices` (`id`, `product_id`, `price`, `min_price`, `max_price`, `smart_pricing_status`, `created_at`) VALUES ('3', '3', '19800.00', '17800.00', '22800.00', '1', '2026-02-03 23:34:33');

--- TABLE: product_reviews ---
CREATE TABLE `product_reviews` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `rating` tinyint(4) NOT NULL CHECK (`rating` >= 1 and `rating` <= 5),
  `comment` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_review` (`product_id`,`user_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `product_reviews_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE,
  CONSTRAINT `product_reviews_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 0

--- TABLE: product_sizes ---
CREATE TABLE `product_sizes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `size_value` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `product_sizes_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=595 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 583
-- (Data too large to dump inline, 583 rows)

--- TABLE: product_skus ---
CREATE TABLE `product_skus` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `sku` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `sku` (`sku`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `product_skus_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=108 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 106
INSERT INTO `product_skus` (`id`, `product_id`, `sku`, `created_at`) VALUES ('1', '1', 'NK-AMP-001', '2026-02-03 23:34:33');
INSERT INTO `product_skus` (`id`, `product_id`, `sku`, `created_at`) VALUES ('2', '2', 'AD-YZY-350', '2026-02-03 23:34:33');
INSERT INTO `product_skus` (`id`, `product_id`, `sku`, `created_at`) VALUES ('3', '3', 'TM-P6I-001', '2026-02-03 23:34:33');

--- TABLE: product_specs ---
CREATE TABLE `product_specs` (
  `product_id` int(11) NOT NULL,
  `brand_id` int(11) DEFAULT NULL,
  `gender` varchar(50) DEFAULT NULL,
  `heel_height` varchar(50) DEFAULT NULL,
  `outer_material` varchar(100) DEFAULT NULL,
  `season` varchar(100) DEFAULT NULL,
  `shoe_type` varchar(100) DEFAULT NULL,
  `occasion` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`product_id`),
  KEY `brand_id` (`brand_id`),
  CONSTRAINT `product_specs_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE,
  CONSTRAINT `product_specs_ibfk_2` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 139
INSERT INTO `product_specs` (`product_id`, `brand_id`, `gender`, `heel_height`, `outer_material`, `season`, `shoe_type`, `occasion`) VALUES ('1', '1', 'Unisex', NULL, 'Leather', NULL, NULL, 'Lifestyle');
INSERT INTO `product_specs` (`product_id`, `brand_id`, `gender`, `heel_height`, `outer_material`, `season`, `shoe_type`, `occasion`) VALUES ('2', '2', 'Unisex', NULL, 'Primeknit', NULL, NULL, 'Lifestyle');
INSERT INTO `product_specs` (`product_id`, `brand_id`, `gender`, `heel_height`, `outer_material`, `season`, `shoe_type`, `occasion`) VALUES ('3', NULL, 'Unisex', NULL, 'Nubuck', NULL, NULL, 'Lifestyle');

--- TABLE: product_stock ---
CREATE TABLE `product_stock` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `quantity` int(11) DEFAULT 0,
  `temp_hold` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `product_stock_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=117 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 115
INSERT INTO `product_stock` (`id`, `product_id`, `quantity`, `temp_hold`, `created_at`) VALUES ('1', '1', '100', '0', '2026-02-03 23:34:33');
INSERT INTO `product_stock` (`id`, `product_id`, `quantity`, `temp_hold`, `created_at`) VALUES ('2', '2', '100', '0', '2026-02-03 23:34:33');
INSERT INTO `product_stock` (`id`, `product_id`, `quantity`, `temp_hold`, `created_at`) VALUES ('3', '3', '100', '0', '2026-02-03 23:34:33');

--- TABLE: product_sync_logs ---
CREATE TABLE `product_sync_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seller_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `channel` varchar(50) NOT NULL,
  `status` enum('pending','success','error','failed') DEFAULT 'pending',
  `message` text DEFAULT NULL,
  `sync_date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  KEY `idx_seller_product` (`seller_id`,`product_id`),
  KEY `idx_channel_status` (`channel`,`status`),
  CONSTRAINT `product_sync_logs_ibfk_1` FOREIGN KEY (`seller_id`) REFERENCES `sellers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `product_sync_logs_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 0

--- TABLE: seller_marketplaces ---
CREATE TABLE `seller_marketplaces` (
  `seller_id` int(11) NOT NULL,
  `marketplace_id` int(11) NOT NULL,
  `status` enum('connected','disconnected') DEFAULT 'disconnected',
  `last_sync` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`seller_id`,`marketplace_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 20
INSERT INTO `seller_marketplaces` (`seller_id`, `marketplace_id`, `status`, `last_sync`, `created_at`) VALUES ('1', '1', 'connected', NULL, '2026-02-06 15:29:39');
INSERT INTO `seller_marketplaces` (`seller_id`, `marketplace_id`, `status`, `last_sync`, `created_at`) VALUES ('1', '2', 'connected', NULL, '2026-02-06 15:29:39');
INSERT INTO `seller_marketplaces` (`seller_id`, `marketplace_id`, `status`, `last_sync`, `created_at`) VALUES ('1', '6', 'connected', NULL, '2026-02-06 15:29:39');

--- TABLE: sellers ---
CREATE TABLE `sellers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `business_name` varchar(150) DEFAULT NULL,
  `website_url` varchar(500) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  `is_verified` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 8
INSERT INTO `sellers` (`id`, `name`, `email`, `password`, `business_name`, `website_url`, `city`, `country`, `is_active`, `created_at`, `is_verified`) VALUES ('1', 'Demo Seller', 'seller@walkon.com', '$2y$10$6Rui3PUAgQxOBR033PqW/O01QyLL872EGW36yNZZQojSCuFDd71U.', 'WalkOn Official Store', NULL, NULL, NULL, '1', '2026-02-03 23:34:33', '1');
INSERT INTO `sellers` (`id`, `name`, `email`, `password`, `business_name`, `website_url`, `city`, `country`, `is_active`, `created_at`, `is_verified`) VALUES ('2', 'Admin WalkOn', 'admin@walkon.com', '$2y$10$dIwxjmd8v.B8CUsR0shQG.S41dtZtYF1pz.ISFw2Mm/4cKlAdlwmS', 'WALKON Official', NULL, NULL, NULL, '1', '2026-02-04 00:14:01', '1');
INSERT INTO `sellers` (`id`, `name`, `email`, `password`, `business_name`, `website_url`, `city`, `country`, `is_active`, `created_at`, `is_verified`) VALUES ('3', 'MOSIN  M JOSEPH INT MCA 2023-2028', 'mosinmjoseph2028@mca.ajce.in', 'social_login_or_legacy', 'MOSIN  M JOSEPH INT MCA 2023-2028 Store', NULL, NULL, NULL, '1', '2026-02-04 00:32:12', '0');

--- TABLE: site_settings ---
CREATE TABLE `site_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(50) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 0

--- TABLE: size_guides ---
CREATE TABLE `size_guides` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category` varchar(100) DEFAULT NULL,
  `brand_id` int(11) DEFAULT NULL,
  `uk_size` varchar(10) NOT NULL,
  `us_size` varchar(10) NOT NULL,
  `eu_size` varchar(10) NOT NULL,
  `cm_length` decimal(5,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_category` (`category`),
  KEY `idx_brand` (`brand_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 7
INSERT INTO `size_guides` (`id`, `category`, `brand_id`, `uk_size`, `us_size`, `eu_size`, `cm_length`, `created_at`) VALUES ('1', 'Men', NULL, '6', '7', '40', '25.00', '2026-02-18 13:41:43');
INSERT INTO `size_guides` (`id`, `category`, `brand_id`, `uk_size`, `us_size`, `eu_size`, `cm_length`, `created_at`) VALUES ('2', 'Men', NULL, '7', '8', '41', '25.40', '2026-02-18 13:41:43');
INSERT INTO `size_guides` (`id`, `category`, `brand_id`, `uk_size`, `us_size`, `eu_size`, `cm_length`, `created_at`) VALUES ('3', 'Men', NULL, '8', '9', '42.5', '26.20', '2026-02-18 13:41:43');

--- TABLE: sizes_ref ---
CREATE TABLE `sizes_ref` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `size_value` varchar(10) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `size_value` (`size_value`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 20
INSERT INTO `sizes_ref` (`id`, `size_value`) VALUES ('14', 'EU 39');
INSERT INTO `sizes_ref` (`id`, `size_value`) VALUES ('15', 'EU 40');
INSERT INTO `sizes_ref` (`id`, `size_value`) VALUES ('16', 'EU 41');

--- TABLE: smart_pricing_log ---
CREATE TABLE `smart_pricing_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seller_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `old_price` decimal(10,2) DEFAULT NULL,
  `new_price` decimal(10,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  KEY `idx_seller_date` (`seller_id`,`created_at`),
  CONSTRAINT `smart_pricing_log_ibfk_1` FOREIGN KEY (`seller_id`) REFERENCES `sellers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `smart_pricing_log_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 0

--- TABLE: staff_permissions ---
CREATE TABLE `staff_permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission_key` varchar(100) NOT NULL,
  `is_granted` tinyint(1) DEFAULT 1,
  `granted_by` int(11) DEFAULT NULL,
  `granted_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_permission` (`user_id`,`permission_key`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_permission_key` (`permission_key`),
  KEY `granted_by` (`granted_by`),
  CONSTRAINT `staff_permissions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `staff_permissions_ibfk_2` FOREIGN KEY (`granted_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 0

--- TABLE: store_settings ---
CREATE TABLE `store_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seller_id` int(11) DEFAULT NULL,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`),
  KEY `idx_category` (`category`),
  KEY `idx_setting_key` (`setting_key`),
  KEY `updated_by` (`updated_by`),
  KEY `seller_id` (`seller_id`),
  CONSTRAINT `store_settings_ibfk_1` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 9
INSERT INTO `store_settings` (`id`, `seller_id`, `setting_key`, `setting_value`, `category`, `updated_by`, `updated_at`) VALUES ('1', NULL, 'store_name', 'WALKON Footwear Store', 'business', NULL, '2026-02-05 21:28:34');
INSERT INTO `store_settings` (`id`, `seller_id`, `setting_key`, `setting_value`, `category`, `updated_by`, `updated_at`) VALUES ('2', NULL, 'store_email', 'contact@walkon.com', 'business', NULL, '2026-02-05 21:28:34');
INSERT INTO `store_settings` (`id`, `seller_id`, `setting_key`, `setting_value`, `category`, `updated_by`, `updated_at`) VALUES ('3', NULL, 'store_phone', '+91 1234567890', 'business', NULL, '2026-02-05 21:28:34');

--- TABLE: sub_categories ---
CREATE TABLE `sub_categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category_id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_cat_sub` (`category_id`,`name`),
  CONSTRAINT `sub_categories_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 39
INSERT INTO `sub_categories` (`id`, `category_id`, `name`, `created_at`) VALUES ('1', '1', 'High-Top', '2026-02-03 23:47:02');
INSERT INTO `sub_categories` (`id`, `category_id`, `name`, `created_at`) VALUES ('2', '1', 'Low-Top', '2026-02-03 23:47:02');
INSERT INTO `sub_categories` (`id`, `category_id`, `name`, `created_at`) VALUES ('3', '1', 'Slip-On', '2026-02-03 23:47:02');

--- TABLE: user_activity_logs ---
CREATE TABLE `user_activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `action` varchar(100) NOT NULL,
  `details` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `user_activity_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=300 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 299
-- (Data too large to dump inline, 299 rows)

--- TABLE: user_addresses ---
CREATE TABLE `user_addresses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `address_type` enum('shipping','billing') DEFAULT 'shipping',
  `street_address` text DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `zip_code` varchar(20) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `is_default` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_addresses_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 1
INSERT INTO `user_addresses` (`id`, `user_id`, `address_type`, `street_address`, `city`, `state`, `zip_code`, `country`, `is_default`, `created_at`) VALUES ('1', '15', 'shipping', 'MEPPURATH(H)', 'KOTTAYAM', 'Kerala', '686541', 'India', '1', '2026-02-19 09:56:52');

--- TABLE: users ---
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `verification_token` varchar(255) DEFAULT NULL,
  `is_verified` tinyint(1) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `last_login` timestamp NULL DEFAULT NULL,
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_expires` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `role` enum('admin','store_owner','entrepreneur','customer') NOT NULL DEFAULT 'customer',
  `seller_id` int(11) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `profile_photo` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `fk_user_seller` (`seller_id`),
  CONSTRAINT `fk_user_seller` FOREIGN KEY (`seller_id`) REFERENCES `sellers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 37
INSERT INTO `users` (`id`, `first_name`, `last_name`, `email`, `password`, `verification_token`, `is_verified`, `is_active`, `last_login`, `reset_token`, `reset_expires`, `created_at`, `updated_at`, `role`, `seller_id`, `phone`, `profile_photo`) VALUES ('1', 'Super', 'Admin', 'admin@walkon.com', '$2y$10$/2dkDLMjT21hFu7Cvy9oL.yhVgn8TUJNeuTfq46Ees91wrjyXGeLu', NULL, '1', '1', '2026-03-09 15:45:26', NULL, NULL, '2026-02-03 23:34:33', '2026-03-09 15:45:26', 'admin', NULL, NULL, NULL);
INSERT INTO `users` (`id`, `first_name`, `last_name`, `email`, `password`, `verification_token`, `is_verified`, `is_active`, `last_login`, `reset_token`, `reset_expires`, `created_at`, `updated_at`, `role`, `seller_id`, `phone`, `profile_photo`) VALUES ('2', 'MOSIN  M JOSEPH', 'INT MCA 2023-2028', 'mosinmjoseph2028@mca.ajce.in', '$2y$10$4ouwJCmFv6TBTPLXSVhmVusPxHWsSbXssp4v/F8G6bIX20JKl.7EC', NULL, '0', '1', '2026-02-17 22:23:34', NULL, NULL, '2026-02-03 23:43:19', '2026-02-17 22:23:34', 'entrepreneur', '3', NULL, NULL);
INSERT INTO `users` (`id`, `first_name`, `last_name`, `email`, `password`, `verification_token`, `is_verified`, `is_active`, `last_login`, `reset_token`, `reset_expires`, `created_at`, `updated_at`, `role`, `seller_id`, `phone`, `profile_photo`) VALUES ('3', 'Store', 'Owner', 'owner@walkon.com', '$2y$10$B44J7y2zHE8QbCy/COCWROK7S0WWi3.GDWMb/PIu6uMm3YEWxfY6y', NULL, '1', '1', '2026-03-09 15:51:44', NULL, NULL, '2026-02-04 10:10:51', '2026-03-09 15:51:44', 'store_owner', NULL, NULL, NULL);

--- TABLE: wallet_transactions ---
CREATE TABLE `wallet_transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `wallet_id` int(11) NOT NULL,
  `order_id` int(11) DEFAULT NULL,
  `type` enum('credit','debit','payout') NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `commission_deducted` decimal(10,2) DEFAULT 0.00,
  `description` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `wallet_id` (`wallet_id`),
  KEY `order_id` (`order_id`),
  CONSTRAINT `wallet_transactions_ibfk_1` FOREIGN KEY (`wallet_id`) REFERENCES `wallets` (`id`) ON DELETE CASCADE,
  CONSTRAINT `wallet_transactions_ibfk_2` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 5
INSERT INTO `wallet_transactions` (`id`, `wallet_id`, `order_id`, `type`, `amount`, `commission_deducted`, `description`, `created_at`) VALUES ('1', '4', '47', 'credit', '3058.20', '339.80', 'Payment for Order #47 (10% Comm. Deducted)', '2026-02-18 11:53:29');
INSERT INTO `wallet_transactions` (`id`, `wallet_id`, `order_id`, `type`, `amount`, `commission_deducted`, `description`, `created_at`) VALUES ('2', '4', '48', 'credit', '3058.20', '339.80', 'Payment for Order #48 (10% Comm. Deducted)', '2026-02-18 15:19:31');
INSERT INTO `wallet_transactions` (`id`, `wallet_id`, `order_id`, `type`, `amount`, `commission_deducted`, `description`, `created_at`) VALUES ('3', '4', '49', 'credit', '3058.20', '339.80', 'Payment for Order #49 (10% Comm. Deducted)', '2026-02-18 21:15:44');

--- TABLE: wallets ---
CREATE TABLE `wallets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seller_id` int(11) NOT NULL,
  `balance` decimal(15,2) DEFAULT 0.00,
  `last_updated` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `seller_id` (`seller_id`),
  CONSTRAINT `wallets_ibfk_1` FOREIGN KEY (`seller_id`) REFERENCES `sellers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Row count: 6
INSERT INTO `wallets` (`id`, `seller_id`, `balance`, `last_updated`) VALUES ('1', '2', '0.00', '2026-02-17 20:25:56');
INSERT INTO `wallets` (`id`, `seller_id`, `balance`, `last_updated`) VALUES ('2', '4', '0.00', '2026-02-17 20:25:56');
INSERT INTO `wallets` (`id`, `seller_id`, `balance`, `last_updated`) VALUES ('3', '3', '0.00', '2026-02-17 20:25:56');

--- TABLE: wishlist ---
CREATE TABLE `wishlist` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_wishlist` (`user_id`,`product_id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `wishlist_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product_base` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Row count: 10
INSERT INTO `wishlist` (`id`, `user_id`, `product_id`, `created_at`) VALUES ('1', '2', '52', '2026-02-03 22:05:35');
INSERT INTO `wishlist` (`id`, `user_id`, `product_id`, `created_at`) VALUES ('2', '1', '54', '2026-02-04 08:49:01');
INSERT INTO `wishlist` (`id`, `user_id`, `product_id`, `created_at`) VALUES ('3', '1', '31', '2026-02-04 08:49:04');

